In [2]:
import pandas as pd

In [3]:
#read in this dataset: https://www.kaggle.com/datasets/johnwdata/coronavirus-covid19-cases-by-us-county?resource=download
#COVID-19 Cases By US County
kaggle_deathsbydate_df = pd.read_csv('/Users/willemluyten/Downloads/STAT390-Snowman/covid_by_county.csv')
kaggle_deathsbydate_df.shape

(359978, 6)

In [42]:
#read in this dataset: https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv
#covid-19 Cases By us county
import requests

#url of the raw csv data on github
url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'

#sg get request to the url
response = requests.get(url)

#check if the request was successful
if response.status_code == 200:
    #write the text of the response to a local csv file
    with open('nyt_cases_county.csv', 'w') as file:
        file.write(response.text)
else:
    print("Failed to retrieve data")

#path to your downloaded CSV file
csv_file_path = '/Users/willemluyten/Downloads/STAT390-Snowman/nyt_cases_couty.csv'

#put into pandasd df
nyt_cases_df = pd.read_csv(csv_file_path)
nyt_cases_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/willemluyten/Downloads/STAT390-Snowman/nyt_cases_couty.csv'

In [4]:
#read in this dataset: https://data.cdc.gov/Vaccinations/COVID-19-Vaccinations-in-the-United-States-Jurisdi/unsk-b7fc/about_data
#COVID-19 Vaccinations in the United States,Jurisdiction
vaccination_cdc_df = pd.read_csv('/Users/willemluyten/Downloads/STAT390-Snowman/COVID-19_Vaccinations_in_the_United_States_Jurisdiction_20240117.csv')
vaccination_cdc_df.shape

(38488, 109)

In [5]:
#read in this dataset: https://data.cdc.gov/Public-Health-Surveillance/United-States-COVID-19-Community-Levels-by-County/3nnm-4jni/about_data
#United States COVID-19 Community Levels by County
community_levels_df = pd.read_csv('/Users/willemluyten/Downloads/STAT390-Snowman/United_States_COVID-19_Community_Levels_by_County_20240117.csv')
community_levels_df.shape

(206332, 12)

In [6]:
#create a list of the columns in the dataset from kaggle
kaggle_columns_list = kaggle_deathsbydate_df.columns.tolist()
kaggle_columns_list

['date', 'county', 'state', 'fips', 'cases', 'deaths']

In [7]:
#create a list of the columns in the CDC vaccination dataset
vaccination_columns_list = vaccination_cdc_df.columns.tolist()
print(vaccination_columns_list[:10])

['Date', 'MMWR_week', 'Location', 'Distributed', 'Distributed_Janssen', 'Distributed_Moderna', 'Distributed_Pfizer', 'Distributed_Novavax', 'Distributed_Unk_Manuf', 'Dist_Per_100K']

In [8]:
#make a list of the columns in the CDC Covid levels by community dataset
community_levels_columns_list = community_levels_df.columns.tolist()
print(community_levels_columns_list)

['county', 'county_fips', 'state', 'county_population', 'health_service_area_number', 'health_service_area', 'health_service_area_population', 'covid_inpatient_bed_utilization', 'covid_hospital_admissions_per_100k', 'covid_cases_per_100k', 'covid-19_community_level', 'date_updated']

In [9]:
community_levels_df.head(3)

,county,county_fips,state,county_population,health_service_area_number,health_service_area,health_service_area_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated
0,United States Virgin Islands,78000,United States Virgin Islands,104672.0,905,United States Virgin Islands,NaN,NaN,NaN,54.51,NaN,2023-05-11
1,United States Virgin Islands,78000,United States Virgin Islands,104672.0,905,United States Virgin Islands,104672.0,0.6,0.0,11.28,Low,2023-04-27
2,United States Virgin Islands,78000,United States Virgin Islands,104672.0,905,United States Virgin Islands,104672.0,1.0,0.0,8.46,Low,2023-04-20

In [10]:
vaccination_cdc_df.head(3)

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Novavax,Distributed_Unk_Manuf,Dist_Per_100K,...,Dist_Bivalent_PFR,Dist_Bivalent_MOD,Bivalent_Booster_5Plus,Bivalent_Booster_5Plus_Pop_Pct,Bivalent_Booster_12Plus,Bivalent_Booster_12Plus_Pop_Pct,Bivalent_Booster_18Plus,Bivalent_Booster_18Plus_Pop_Pct,Bivalent_Booster_65Plus,Bivalent_Booster_65Plus_Pop_Pct
0,05/10/2023,19,NE,5481710,152400,1647380,2905630,7400.0,0,283379,...,575480.0,193420.0,340508.0,18.9,332054.0,20.5,319161.0,21.9,151146.0,48.4
1,05/10/2023,19,LA,10282120,330500,3807980,5164550,10100.0,0,221178,...,640590.0,328400.0,359506.0,8.3,356199.0,9.1,349934.0,9.8,184844.0,24.9
2,05/10/2023,19,GA,28727475,869100,9763000,14773655,43400.0,0,270569,...,2255000.0,1023320.0,1126791.0,11.3,1103841.0,12.3,1067468.0,13.2,476297.0,31.4

In [11]:
#merge covid levels by county dataset and vaccination by county
#want to merge on a combo Date-Location index: will be on a date-state index (vaccination df doesnt have county info)

#need the "Location" column in vaccination_cdc_df to be full state name, not abbreviations
#dictionary mapping state abbreviations to full names
state_abb_dict = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri',
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
    'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio',
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont',
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}
#create new column 'state' with full state names
vaccination_cdc_df['State'] = vaccination_cdc_df['Location'].map(state_abb_dict)

#need the format of the "Date" column in vaccination_cdc_df to match the format of "date_updated" in community_levels_df
#convert the 'Date' column to datetime objects
vaccination_cdc_df['Date'] = pd.to_datetime(vaccination_cdc_df['Date'], format='%m/%d/%Y')
#format the vaccination_cdc_df dates as strings in the the same format as in community_levels_df
vaccination_cdc_df['Date'] = vaccination_cdc_df['Date'].dt.strftime('%Y-%m-%d')

#want to make compound-index of state and date
#create new column 'date_state_index' by concatenating the 'Date' and 'State' columns with '-' in between
#this new column can be used to uniquely index the vaccindation_cdc_df dataframe
vaccination_cdc_df['date_state_index'] = vaccination_cdc_df['Date'] + '-' + vaccination_cdc_df['State']
vaccination_cdc_df.head(3)

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Novavax,Distributed_Unk_Manuf,Dist_Per_100K,...,Bivalent_Booster_5Plus,Bivalent_Booster_5Plus_Pop_Pct,Bivalent_Booster_12Plus,Bivalent_Booster_12Plus_Pop_Pct,Bivalent_Booster_18Plus,Bivalent_Booster_18Plus_Pop_Pct,Bivalent_Booster_65Plus,Bivalent_Booster_65Plus_Pop_Pct,State,date_state_index
0,2023-05-10,19,NE,5481710,152400,1647380,2905630,7400.0,0,283379,...,340508.0,18.9,332054.0,20.5,319161.0,21.9,151146.0,48.4,Nebraska,2023-05-10-Nebraska
1,2023-05-10,19,LA,10282120,330500,3807980,5164550,10100.0,0,221178,...,359506.0,8.3,356199.0,9.1,349934.0,9.8,184844.0,24.9,Louisiana,2023-05-10-Louisiana
2,2023-05-10,19,GA,28727475,869100,9763000,14773655,43400.0,0,270569,...,1126791.0,11.3,1103841.0,12.3,1067468.0,13.2,476297.0,31.4,Georgia,2023-05-10-Georgia

In [12]:
#double check that the 'date_state_index' column in vaccination_cdc_df has only unique values
index_counts = vaccination_cdc_df.date_state_index.value_counts()

has_duplicates = False

for count in index_counts:
    if count > 1:
        has_duplicates = True

print(has_duplicates)

False

In [13]:
#double check that vaccination_cdc_df has only 50 states
len(vaccination_cdc_df.State.value_counts())

50

In [14]:
community_levels_df.shape

(206332, 12)

In [15]:
#now want to put the same type of index in community_levels_df that we put into vaccination_cdc_df
#(date_state_index)

#theres a problem -- community_levels_df has all the provinces and territories in addition to states
#vaccination_cdc_df has just the 50 states
#want to drop all rows from community_levels_df where state is not one of the 50 US states

#get a list of the 50 US states
states_list = list(vaccination_cdc_df['State'].unique())

#drop rows of community_levels_df where the state is not one of the 50 US states
community_levels_df = community_levels_df[community_levels_df['state'].isin(states_list)]
#print shape of df to ensure that rows were dropped
community_levels_df.shape

(201024, 12)

In [16]:
#back to putting the same type of index into community_levels_df that we put into vaccination_cdc_df
#want a compound-index of state and date of this format: 2023- 05 - 10-Nebraska

#create new column 'date_state_index' by concatenating the 'Date' and 'State' columns with '-' in between
#this new column can be used to uniquely index the  dataframe community_levels_df
community_levels_df['date_state_index'] = community_levels_df['date_updated'] + '-' + community_levels_df['state']
community_levels_df.head(3)

,county,county_fips,state,county_population,health_service_area_number,health_service_area,health_service_area_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated,date_state_index
5244,Orange County,6059,California,3175692.0,825,"Orange, CA",3175692.0,1.4,2.8,18.48,Low,2023-05-11,2023-05-11-California
5245,Orange County,6059,California,3175692.0,825,"Orange, CA",3175692.0,1.8,2.7,32.37,Low,2023-04-27,2023-04-27-California
5246,Orange County,6059,California,3175692.0,825,"Orange, CA",3175692.0,1.8,3.3,27.52,Low,2023-04-20,2023-04-20-California

In [17]:
#this date_state_index WILL have duplicates -- the location is being measured on a smaller scale (county)
#therefore there could be multiple observations in a given state on a given day

#thats fine, though, we can still merge in vaccination data for a given state on a given day from vaccination_cdc_df

index_counts = community_levels_df.date_state_index.value_counts()

has_duplicates = False
for count in index_counts:
    if count > 1:
        has_duplicates = True

print(has_duplicates)

True

In [18]:
#adding prefix to the column names of both dataframes: helps distinguish where a feature came from once dfs are merged
community_levels_df = community_levels_df.add_prefix('comm_')
vaccination_cdc_df = vaccination_cdc_df.add_prefix('vacc_')

#dont add prefix to the index that we want to merge on, tho
community_levels_df = community_levels_df.rename(columns={'comm_date_state_index': 'date_state_index'})
vaccination_cdc_df = vaccination_cdc_df.rename(columns={'vacc_date_state_index': 'date_state_index'})

vaccination_cdc_df.head(3)

,vacc_Date,vacc_MMWR_week,vacc_Location,vacc_Distributed,vacc_Distributed_Janssen,vacc_Distributed_Moderna,vacc_Distributed_Pfizer,vacc_Distributed_Novavax,vacc_Distributed_Unk_Manuf,vacc_Dist_Per_100K,...,vacc_Bivalent_Booster_5Plus,vacc_Bivalent_Booster_5Plus_Pop_Pct,vacc_Bivalent_Booster_12Plus,vacc_Bivalent_Booster_12Plus_Pop_Pct,vacc_Bivalent_Booster_18Plus,vacc_Bivalent_Booster_18Plus_Pop_Pct,vacc_Bivalent_Booster_65Plus,vacc_Bivalent_Booster_65Plus_Pop_Pct,vacc_State,date_state_index
0,2023-05-10,19,NE,5481710,152400,1647380,2905630,7400.0,0,283379,...,340508.0,18.9,332054.0,20.5,319161.0,21.9,151146.0,48.4,Nebraska,2023-05-10-Nebraska
1,2023-05-10,19,LA,10282120,330500,3807980,5164550,10100.0,0,221178,...,359506.0,8.3,356199.0,9.1,349934.0,9.8,184844.0,24.9,Louisiana,2023-05-10-Louisiana
2,2023-05-10,19,GA,28727475,869100,9763000,14773655,43400.0,0,270569,...,1126791.0,11.3,1103841.0,12.3,1067468.0,13.2,476297.0,31.4,Georgia,2023-05-10-Georgia

In [19]:
#find common dates between community_levels_df and vaccination_cdc_df
overlap_dates = community_levels_df[community_levels_df['comm_date_updated'].isin(vaccination_cdc_df['vacc_Date'])]
len(overlap_dates['comm_date_updated'].tolist())

53397

In [20]:
#find common date_state_index between community_levels_df and vaccination_cdc_df
overlap_dates = community_levels_df[community_levels_df['date_state_index'].isin(vaccination_cdc_df['date_state_index'])]
len(overlap_dates['date_state_index'].tolist())

53397

In [21]:
#now merge community_levels_df and vaccination_cdc_df

#merging the dataframes on 'date_state_index'
merged_df = pd.merge(community_levels_df, vaccination_cdc_df, on='date_state_index', how='inner')
merged_df.head(3)

,comm_county,comm_county_fips,comm_state,comm_county_population,comm_health_service_area_number,comm_health_service_area,comm_health_service_area_population,comm_covid_inpatient_bed_utilization,comm_covid_hospital_admissions_per_100k,comm_covid_cases_per_100k,...,vacc_Dist_Bivalent_MOD,vacc_Bivalent_Booster_5Plus,vacc_Bivalent_Booster_5Plus_Pop_Pct,vacc_Bivalent_Booster_12Plus,vacc_Bivalent_Booster_12Plus_Pop_Pct,vacc_Bivalent_Booster_18Plus,vacc_Bivalent_Booster_18Plus_Pop_Pct,vacc_Bivalent_Booster_65Plus,vacc_Bivalent_Booster_65Plus_Pop_Pct,vacc_State
0,Hawaii County,15001,Hawaii,201513.0,823,"Hawaii, HI",201513.0,5.4,9.4,198.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
1,Kauai County,15007,Hawaii,72293.0,822,"Kauai, HI",72293.0,3.6,4.1,280.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
2,Maui County,15009,Hawaii,167417.0,821,"Honolulu (Honolulu), HI - Maui, HI",1142066.0,6.2,11.6,169.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii

In [22]:
merged_df.shape

(53397, 123)

In [23]:
#check how many null values each column in the merged df has
for column in merged_df.columns:
    nan_count = merged_df[column].isna().sum()
    print(f"Number of NaN values in {column}: {nan_count}")

Number of NaN values in comm_county: 0
Number of NaN values in comm_county_fips: 0
Number of NaN values in comm_state: 0
Number of NaN values in comm_county_population: 0
Number of NaN values in comm_health_service_area_number: 0
Number of NaN values in comm_health_service_area: 0
Number of NaN values in comm_health_service_area_population: 0
Number of NaN values in comm_covid_inpatient_bed_utilization: 99
Number of NaN values in comm_covid_hospital_admissions_per_100k: 10
Number of NaN values in comm_covid_cases_per_100k: 0
Number of NaN values in comm_covid-19_community_level: 7
Number of NaN values in comm_date_updated: 0
Number of NaN values in date_state_index: 0
Number of NaN values in vacc_Date: 0
Number of NaN values in vacc_MMWR_week: 0
Number of NaN values in vacc_Location: 0
Number of NaN values in vacc_Distributed: 0
Number of NaN values in vacc_Distributed_Janssen: 0
Number of NaN values in vacc_Distributed_Moderna: 0
Number of NaN values in vacc_Distributed_Pfizer: 0
Number of NaN values in vacc_Distributed_Novavax: 53397
Number of NaN values in vacc_Distributed_Unk_Manuf: 0
Number of NaN values in vacc_Dist_Per_100K: 0
Number of NaN values in vacc_Distributed_Per_100k_5Plus: 0
Number of NaN values in vacc_Distributed_Per_100k_12Plus: 0
Number of NaN values in vacc_Distributed_Per_100k_18Plus: 0
Number of NaN values in vacc_Distributed_Per_100k_65Plus: 0
Number of NaN values in vacc_Administered: 0
Number of NaN values in vacc_Administered_5Plus: 0
Number of NaN values in vacc_Administered_12Plus: 0
Number of NaN values in vacc_Administered_18Plus: 0
Number of NaN values in vacc_Administered_65Plus: 0
Number of NaN values in vacc_Administered_Janssen: 0
Number of NaN values in vacc_Administered_Moderna: 0
Number of NaN values in vacc_Administered_Pfizer: 0
Number of NaN values in vacc_Administered_Novavax: 53397
Number of NaN values in vacc_Administered_Unk_Manuf: 0
Number of NaN values in vacc_Admin_Per_100K: 0
Number of NaN values in vacc_Admin_Per_100k_5Plus: 0
Number of NaN values in vacc_Admin_Per_100k_12Plus: 0
Number of NaN values in vacc_Admin_Per_100k_18Plus: 0
Number of NaN values in vacc_Admin_Per_100k_65Plus: 0
Number of NaN values in vacc_Recip_Administered: 0
Number of NaN values in vacc_Administered_Dose1_Recip: 0
Number of NaN values in vacc_Administered_Dose1_Pop_Pct: 0
Number of NaN values in vacc_Administered_Dose1_Recip_5Plus: 0
Number of NaN values in vacc_Administered_Dose1_Recip_5PlusPop_Pct: 0
Number of NaN values in vacc_Administered_Dose1_Recip_12Plus: 0
Number of NaN values in vacc_Administered_Dose1_Recip_12PlusPop_Pct: 0
Number of NaN values in vacc_Administered_Dose1_Recip_18Plus: 0
Number of NaN values in vacc_Administered_Dose1_Recip_18PlusPop_Pct: 0
Number of NaN values in vacc_Administered_Dose1_Recip_65Plus: 0
Number of NaN values in vacc_Administered_Dose1_Recip_65PlusPop_Pct: 0
Number of NaN values in vacc_Series_Complete_Yes: 0
Number of NaN values in vacc_Series_Complete_Pop_Pct: 0
Number of NaN values in vacc_Series_Complete_5Plus: 0
Number of NaN values in vacc_Series_Complete_5PlusPop_Pct: 0
Number of NaN values in vacc_Series_Complete_12Plus: 0
Number of NaN values in vacc_Series_Complete_12PlusPop_Pct: 0
Number of NaN values in vacc_Series_Complete_18Plus: 0
Number of NaN values in vacc_Series_Complete_18PlusPop_Pct: 0
Number of NaN values in vacc_Series_Complete_65Plus: 0
Number of NaN values in vacc_Series_Complete_65PlusPop_Pct: 0
Number of NaN values in vacc_Series_Complete_Janssen: 0
Number of NaN values in vacc_Series_Complete_Moderna: 0
Number of NaN values in vacc_Series_Complete_Pfizer: 0
Number of NaN values in vacc_Series_Complete_Novavax: 53397
Number of NaN values in vacc_Series_Complete_Unk_Manuf: 0
Number of NaN values in vacc_Series_Complete_Janssen_5Plus: 0
Number of NaN values in vacc_Series_Complete_Moderna_5Plus: 0
Number of NaN values in vacc_Series_Complete_Pfizer_5Plus: 0
Number of NaN values in vacc_Series_Complete_Unk_Manuf_5Plus: 0
Number of NaN values in vacc_Series_Complete_Janssen_12Plus: 0
Number of NaN values in vacc_Series_Complete_Moderna_12Plus: 0
Number of NaN values in vacc_Series_Complete_Pfizer_12Plus: 0
Number of NaN values in vacc_Series_Complete_Unk_Manuf_12Plus: 0
Number of NaN values in vacc_Series_Complete_Janssen_18Plus: 0
Number of NaN values in vacc_Series_Complete_Moderna_18Plus: 0
Number of NaN values in vacc_Series_Complete_Pfizer_18Plus: 0
Number of NaN values in vacc_Series_Complete_Unk_Manuf_18Plus: 0
Number of NaN values in vacc_Series_Complete_Janssen_65Plus: 0
Number of NaN values in vacc_Series_Complete_Moderna_65Plus: 0
Number of NaN values in vacc_Series_Complete_Pfizer_65Plus: 0
Number of NaN values in vacc_Series_Complete_Unk_Manuf_65Plus: 0
Number of NaN values in vacc_Additional_Doses: 0
Number of NaN values in vacc_Additional_Doses_Vax_Pct: 0
Number of NaN values in vacc_Additional_Doses_5Plus: 53397
Number of NaN values in vacc_Additional_Doses_5Plus_Vax_Pct: 53397
Number of NaN values in vacc_Additional_Doses_12Plus: 0
Number of NaN values in vacc_Additional_Doses_12Plus_Vax_Pct: 0
Number of NaN values in vacc_Additional_Doses_18Plus: 0
Number of NaN values in vacc_Additional_Doses_18Plus_Vax_Pct: 0
Number of NaN values in vacc_Additional_Doses_50Plus: 0
Number of NaN values in vacc_Additional_Doses_50Plus_Vax_Pct: 0
Number of NaN values in vacc_Additional_Doses_65Plus: 0
Number of NaN values in vacc_Additional_Doses_65Plus_Vax_Pct: 0
Number of NaN values in vacc_Additional_Doses_Moderna: 0
Number of NaN values in vacc_Additional_Doses_Pfizer: 0
Number of NaN values in vacc_Additional_Doses_Janssen: 0
Number of NaN values in vacc_Additional_Doses_Unk_Manuf: 0
Number of NaN values in vacc_Second_Booster: 53397
Number of NaN values in vacc_Second_Booster_50Plus: 28269
Number of NaN values in vacc_Second_Booster_50Plus_Vax_Pct: 28269
Number of NaN values in vacc_Second_Booster_65Plus: 28269
Number of NaN values in vacc_Second_Booster_65Plus_Vax_Pct: 28269
Number of NaN values in vacc_Second_Booster_Janssen: 28269
Number of NaN values in vacc_Second_Booster_Moderna: 28269
Number of NaN values in vacc_Second_Booster_Pfizer: 28269
Number of NaN values in vacc_Second_Booster_Unk_Manuf: 28269
Number of NaN values in vacc_Administered_Bivalent: 53397
Number of NaN values in vacc_Admin_Bivalent_PFR: 53397
Number of NaN values in vacc_Admin_Bivalent_MOD: 53397
Number of NaN values in vacc_Dist_Bivalent_PFR: 53397
Number of NaN values in vacc_Dist_Bivalent_MOD: 53397
Number of NaN values in vacc_Bivalent_Booster_5Plus: 53397
Number of NaN values in vacc_Bivalent_Booster_5Plus_Pop_Pct: 53397
Number of NaN values in vacc_Bivalent_Booster_12Plus: 53397
Number of NaN values in vacc_Bivalent_Booster_12Plus_Pop_Pct: 53397
Number of NaN values in vacc_Bivalent_Booster_18Plus: 53397
Number of NaN values in vacc_Bivalent_Booster_18Plus_Pop_Pct: 53397
Number of NaN values in vacc_Bivalent_Booster_65Plus: 53397
Number of NaN values in vacc_Bivalent_Booster_65Plus_Pop_Pct: 53397
Number of NaN values in vacc_State: 0

In [24]:
#lots of those columns have most or all null values -- drop column with over 1000 null values
#counting null values in each column
nan_counts = merged_df.isna().sum()
#identify columns with more than 1000 NaN values
columns_to_drop = nan_counts[nan_counts > 1000].index.tolist()
#dropping these columns from merged_df
merged_df.drop(columns=columns_to_drop, inplace=True)
print(len(columns_to_drop))

27

In [25]:
merged_df.head()

,comm_county,comm_county_fips,comm_state,comm_county_population,comm_health_service_area_number,comm_health_service_area,comm_health_service_area_population,comm_covid_inpatient_bed_utilization,comm_covid_hospital_admissions_per_100k,comm_covid_cases_per_100k,...,vacc_Additional_Doses_18Plus_Vax_Pct,vacc_Additional_Doses_50Plus,vacc_Additional_Doses_50Plus_Vax_Pct,vacc_Additional_Doses_65Plus,vacc_Additional_Doses_65Plus_Vax_Pct,vacc_Additional_Doses_Moderna,vacc_Additional_Doses_Pfizer,vacc_Additional_Doses_Janssen,vacc_Additional_Doses_Unk_Manuf,vacc_State
0,Hawaii County,15001,Hawaii,201513.0,823,"Hawaii, HI",201513.0,5.4,9.4,198.50,...,53.4,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii
1,Kauai County,15007,Hawaii,72293.0,822,"Kauai, HI",72293.0,3.6,4.1,280.80,...,53.4,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii
2,Maui County,15009,Hawaii,167417.0,821,"Honolulu (Honolulu), HI - Maui, HI",1142066.0,6.2,11.6,169.04,...,53.4,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii
3,Kalawao County,15005,Hawaii,86.0,821,"Honolulu (Honolulu), HI - Maui, HI",1142066.0,6.2,11.6,0.00,...,53.4,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii
4,Honolulu County,15003,Hawaii,974563.0,821,"Honolulu (Honolulu), HI - Maui, HI",1142066.0,6.2,11.6,135.55,...,53.4,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii

In [26]:
#examine format of date_state_index to replicate in kaggle df
(merged_df.date_state_index.to_list())[:1]

['2022-02-24-Hawaii']

In [27]:
#now merge with the kaggle_deathsbydate_df dataset on COVID-19 Cases By US County

#create new column 'date_county_index' by concatenating the 'Date' and 'County' columns with '-' in between
#this new column can be used to uniquely index the  dataframe kaggle_deathsbydate_df
kaggle_deathsbydate_df['date_state_index'] = kaggle_deathsbydate_df['date'] + '-' + kaggle_deathsbydate_df['state']

#create date_state_county index 
kaggle_deathsbydate_df['date_state_county_index'] = kaggle_deathsbydate_df['date'] + '-' + kaggle_deathsbydate_df['state'] + '-' + kaggle_deathsbydate_df['county']

kaggle_deathsbydate_df.head()

,date,county,state,fips,cases,deaths,date_state_index,date_state_county_index
0,2020-01-21,Snohomish,Washington,53061.0,1,0,2020-01-21-Washington,2020-01-21-Washington-Snohomish
1,2020-01-22,Snohomish,Washington,53061.0,1,0,2020-01-22-Washington,2020-01-22-Washington-Snohomish
2,2020-01-23,Snohomish,Washington,53061.0,1,0,2020-01-23-Washington,2020-01-23-Washington-Snohomish
3,2020-01-24,Cook,Illinois,17031.0,1,0,2020-01-24-Illinois,2020-01-24-Illinois-Cook
4,2020-01-24,Snohomish,Washington,53061.0,1,0,2020-01-24-Washington,2020-01-24-Washington-Snohomish

In [28]:
#'date_county_index' column in kaggle_deathsbydate_df should have duplicate values
#this is becuase county is the smallest level of 
index_counts = kaggle_deathsbydate_df.date_state_county_index.value_counts()

has_duplicates = False

for count in index_counts:
    if count > 1:
        has_duplicates = True

print(has_duplicates)

False

In [29]:
#look at what the duplicate values in date_state_index are 
duplicates = kaggle_deathsbydate_df[kaggle_deathsbydate_df.duplicated('date_state_index', keep=False)]
duplicates.head()

#the duplicates are just for the different counties in a given state

,date,county,state,fips,cases,deaths,date_state_index,date_state_county_index
9,2020-01-26,Los Angeles,California,6037.0,1,0,2020-01-26-California,2020-01-26-California-Los Angeles
10,2020-01-26,Orange,California,6059.0,1,0,2020-01-26-California,2020-01-26-California-Orange
14,2020-01-27,Los Angeles,California,6037.0,1,0,2020-01-27-California,2020-01-27-California-Los Angeles
15,2020-01-27,Orange,California,6059.0,1,0,2020-01-27-California,2020-01-27-California-Orange
19,2020-01-28,Los Angeles,California,6037.0,1,0,2020-01-28-California,2020-01-28-California-Los Angeles

In [30]:
kaggle_deathsbydate_df.county.value_counts()

Washington      3755
Unknown         3343
Jefferson       3131
Franklin        2957
Jackson         2727
                ...
St. Thomas         6
Stonewall          5
McCone             3
Chouteau           2
Judith Basin       1
Name: county, Length: 1909, dtype: int64

In [31]:
kaggle_deathsbydate_df.shape

(359978, 8)

In [32]:
#want to drop rows from kaggle_deathsbydate_df where county is "Unknown"
kaggle_deathsbydate_df = kaggle_deathsbydate_df[kaggle_deathsbydate_df['county'] != "Unknown"]
kaggle_deathsbydate_df.shape

(356635, 8)

In [33]:
merged_df.comm_county.value_counts()

Washington County    510
Jefferson County     425
Franklin County      408
Lincoln County       391
Jackson County       391
                    ...
Sibley County         17
Pipestone County      17
Becker County         17
Mahnomen County       17
Providence County     17
Name: comm_county, Length: 1876, dtype: int64

In [34]:
#need to remove the word "County" from each row of comm_county in merged_df
#removing " County" from each row in the 'comm_count' column
merged_df['comm_county'] = merged_df['comm_county'].str.replace(" County", "", regex=False)
merged_df.head(3)

,comm_county,comm_county_fips,comm_state,comm_county_population,comm_health_service_area_number,comm_health_service_area,comm_health_service_area_population,comm_covid_inpatient_bed_utilization,comm_covid_hospital_admissions_per_100k,comm_covid_cases_per_100k,...,vacc_Additional_Doses_18Plus_Vax_Pct,vacc_Additional_Doses_50Plus,vacc_Additional_Doses_50Plus_Vax_Pct,vacc_Additional_Doses_65Plus,vacc_Additional_Doses_65Plus_Vax_Pct,vacc_Additional_Doses_Moderna,vacc_Additional_Doses_Pfizer,vacc_Additional_Doses_Janssen,vacc_Additional_Doses_Unk_Manuf,vacc_State
0,Hawaii,15001,Hawaii,201513.0,823,"Hawaii, HI",201513.0,5.4,9.4,198.50,...,53.4,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii
1,Kauai,15007,Hawaii,72293.0,822,"Kauai, HI",72293.0,3.6,4.1,280.80,...,53.4,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii
2,Maui,15009,Hawaii,167417.0,821,"Honolulu (Honolulu), HI - Maui, HI",1142066.0,6.2,11.6,169.04,...,53.4,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii

In [35]:
#create a date_state_county column in merged_df 
merged_df['date_state_county_index'] = merged_df['date_state_index'] + '-' + merged_df['comm_county']
merged_df.head(3)

,comm_county,comm_county_fips,comm_state,comm_county_population,comm_health_service_area_number,comm_health_service_area,comm_health_service_area_population,comm_covid_inpatient_bed_utilization,comm_covid_hospital_admissions_per_100k,comm_covid_cases_per_100k,...,vacc_Additional_Doses_50Plus,vacc_Additional_Doses_50Plus_Vax_Pct,vacc_Additional_Doses_65Plus,vacc_Additional_Doses_65Plus_Vax_Pct,vacc_Additional_Doses_Moderna,vacc_Additional_Doses_Pfizer,vacc_Additional_Doses_Janssen,vacc_Additional_Doses_Unk_Manuf,vacc_State,date_state_county_index
0,Hawaii,15001,Hawaii,201513.0,823,"Hawaii, HI",201513.0,5.4,9.4,198.50,...,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii,2022-02-24-Hawaii-Hawaii
1,Kauai,15007,Hawaii,72293.0,822,"Kauai, HI",72293.0,3.6,4.1,280.80,...,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii,2022-02-24-Hawaii-Kauai
2,Maui,15009,Hawaii,167417.0,821,"Honolulu (Honolulu), HI - Maui, HI",1142066.0,6.2,11.6,169.04,...,334683.0,68.6,187630.0,76.7,240377.0,290993.0,5904.0,1.0,Hawaii,2022-02-24-Hawaii-Maui

In [36]:
merged_df.date_state_county_index.value_counts()

2022-02-24-Hawaii-Hawaii            1
2022-05-19-Michigan-Presque Isle    1
2022-05-12-Michigan-St. Joseph      1
2022-05-12-Michigan-Kalamazoo       1
2022-05-12-Michigan-Iosco           1
                                   ..
2022-05-26-Minnesota-Renville       1
2022-05-26-Minnesota-Clearwater     1
2022-05-26-Minnesota-Beltrami       1
2022-05-26-Minnesota-Swift          1
2022-06-16-Rhode Island-Kent        1
Name: date_state_county_index, Length: 53397, dtype: int64

In [37]:
kaggle_deathsbydate_df.date_state_county_index.value_counts()

2020-01-21-Washington-Snohomish    1
2020-06-15-Arkansas-Logan          1
2020-06-15-Arkansas-Nevada         1
2020-06-15-Arkansas-Montgomery     1
2020-06-15-Arkansas-Monroe         1
                                  ..
2020-05-06-Ohio-Summit             1
2020-05-06-Ohio-Stark              1
2020-05-06-Ohio-Shelby             1
2020-05-06-Ohio-Seneca             1
2020-07-22-Wyoming-Weston          1
Name: date_state_county_index, Length: 356635, dtype: int64

In [38]:
kaggle_deathsbydate_df['date'] = pd.to_datetime(kaggle_deathsbydate_df['date'])

# Then, extract the year from the date and find the minimum and maximum
min_year = kaggle_deathsbydate_df['date'].dt.year.min()
max_year = kaggle_deathsbydate_df['date'].dt.year.max()

# Print the range of years
print(f"The range of years in the date column is from {min_year} to {max_year}")

The range of years in the date column is from 2020 to 2020

In [39]:
#double check that there are overlapping date_state_county_indexes between merged_df and kaggle_deathsbydate_df before merging them
#find common date_state_county_index between merged_df and kaggle_deathsbydate_df

overlap_dates = merged_df[merged_df['date_state_county_index'].isin(kaggle_deathsbydate_df['date_state_county_index'])]
len(overlap_dates['date_state_county_index'].tolist())

0

In [40]:
#add the prefix "kag_" to all of the columns from kaggle dataset to make it easier to determine where the data is coming from post merge

In [288]:
#done for now -- export csv of merged_df
file_path = '/Users/willemluyten/Desktop/merged_df_v1.csv'
merged_df.to_csv(file_path, index=False)

In [43]:
merged_v2 = pd.read_csv('/Users/willemluyten/Downloads/STAT390-Snowman/merged_df_ashv2.csv')
merged_v2.head()

,Date,MMWR_week,Recip_County,Recip_State,Completeness_pct,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_5PlusPop_Pct,Administered_Dose1_Recip_12Plus,...,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM,GDP_current_dollar,personal_income
0,2020-02-21,19,Bryan County,OK,93.8,26225.0,54.6,26195.0,58.3,25819.0,...,424,587,912,337,575,37.4,36.0,38.7,1917349,40728
1,2020-02-21,19,Bryan County,OK,93.8,26225.0,54.6,26195.0,58.3,25819.0,...,424,587,912,337,575,37.4,36.0,38.7,280445536,56024
2,2020-02-28,19,Spokane County,WA,96.0,374252.0,71.6,371242.0,75.5,357702.0,...,4199,5498,10228,3528,6700,37.9,36.9,38.9,28473686,49083
3,2020-02-29,19,Dane County,WI,96.7,525490.0,95.0,513813.0,95.0,480996.0,...,3462,4750,9504,3178,6326,35.5,34.7,36.4,46459364,65500
4,2020-03-06,19,Fayette County,KY,94.1,265335.0,82.1,262822.0,86.4,250652.0,...,1964,2979,5249,1659,3590,35.1,34.1,36.2,21244943,55601

In [44]:
merged_v2.shape

(51523, 253)

In [46]:
merged_v2.isna().sum().sum()

0