In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.formula.api import ols
import seaborn as sns
import matplotlib.pyplot as plt
from imblearn.over_sampling import SMOTE
import warnings
warnings.filterwarnings("ignore")

In [2]:
covid_df = pd.read_csv('merged_df_ashvFMT.csv')
covid_df

,STATE,PROVINCE_STATE_NAME,Date,Completeness_pct,Administered_Dose1_Recip,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_12Plus,Administered_Dose1_Recip_18Plus,Administered_Dose1_Recip_65Plus,Series_Complete_Yes,...,AGE7579_MALE,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,GDP_current_dollar,personal_income
0,1,Alabama,2020-01-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69529,88556,102234,41674,60560,92869,30458,62411,235118282,2720636
1,1,Alabama,2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69529,88556,102234,41674,60560,92869,30458,62411,235118282,2720636
2,1,Alabama,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69529,88556,102234,41674,60560,92869,30458,62411,235118282,2720636
3,1,Alabama,2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69529,88556,102234,41674,60560,92869,30458,62411,235118282,2720636
4,1,Alabama,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69529,88556,102234,41674,60560,92869,30458,62411,235118282,2720636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41495,56,Wyoming,2022-04-25,2233.3,329321.0,329281.0,320164.0,301436.0,89872.0,289310.0,...,9572,9740,11282,5182,6100,10405,3861,6544,49080580,1690403
41496,56,Wyoming,2022-04-26,2233.3,329436.0,329396.0,320270.0,301530.0,89903.0,289419.0,...,9572,9740,11282,5182,6100,10405,3861,6544,49080580,1690403
41497,56,Wyoming,2022-04-27,2233.3,329503.0,329463.0,320324.0,301580.0,89919.0,289492.0,...,9572,9740,11282,5182,6100,10405,3861,6544,49080580,1690403
41498,56,Wyoming,2022-04-28,2233.3,329578.0,329538.0,320393.0,301639.0,89944.0,289582.0,...,9572,9740,11282,5182,6100,10405,3861,6544,49080580,1690403
41499,56,Wyoming,2022-04-29,2233.3,329697.0,329657.0,320510.0,301751.0,89988.0,289689.0,...,9572,9740,11282,5182,6100,10405,3861,6544,49080580,1690403

In [3]:
print(covid_df.columns.values, sep=',')

['STATE' 'PROVINCE_STATE_NAME' 'Date' 'Completeness_pct'
 'Administered_Dose1_Recip' 'Administered_Dose1_Recip_5Plus'
 'Administered_Dose1_Recip_12Plus' 'Administered_Dose1_Recip_18Plus'
 'Administered_Dose1_Recip_65Plus' 'Series_Complete_Yes'
 'Series_Complete_5Plus' 'Series_Complete_5to17' 'Series_Complete_12Plus'
 'Series_Complete_18Plus' 'Series_Complete_65Plus' 'Booster_Doses'
 'Booster_Doses_5Plus' 'Booster_Doses_12Plus' 'Booster_Doses_18Plus'
 'Booster_Doses_50Plus' 'Booster_Doses_65Plus' 'Second_Booster_50Plus'
 'Second_Booster_65Plus' 'Bivalent_Booster_5Plus'
 'Bivalent_Booster_12Plus' 'Bivalent_Booster_18Plus'
 'Bivalent_Booster_65Plus' 'PEOPLE_POSITIVE_CASES_COUNT'
 'PEOPLE_DEATH_NEW_COUNT' 'PEOPLE_POSITIVE_NEW_CASES_COUNT'
 'PEOPLE_DEATH_COUNT' 'TOT_POP' 'TOT_MALE' 'TOT_FEMALE' 'WA_MALE'
 'WA_FEMALE' 'BA_MALE' 'BA_FEMALE' 'IA_MALE' 'IA_FEMALE' 'AA_MALE'
 'AA_FEMALE' 'NA_MALE' 'NA_FEMALE' 'TOM_MALE' 'TOM_FEMALE' 'WAC_MALE'
 'WAC_FEMALE' 'BAC_MALE' 'BAC_FEMALE' 'IAC_MALE' 'IAC_FEMALE' 'AAC_MALE'
 'AAC_FEMALE' 'NAC_MALE' 'NAC_FEMALE' 'NH_MALE' 'NH_FEMALE' 'NHWA_MALE'
 'NHWA_FEMALE' 'NHBA_MALE' 'NHBA_FEMALE' 'NHIA_MALE' 'NHIA_FEMALE'
 'NHAA_MALE' 'NHAA_FEMALE' 'NHNA_MALE' 'NHNA_FEMALE' 'NHTOM_MALE'
 'NHTOM_FEMALE' 'NHWAC_MALE' 'NHWAC_FEMALE' 'NHBAC_MALE' 'NHBAC_FEMALE'
 'NHIAC_MALE' 'NHIAC_FEMALE' 'NHAAC_MALE' 'NHAAC_FEMALE' 'NHNAC_MALE'
 'NHNAC_FEMALE' 'H_MALE' 'H_FEMALE' 'HWA_MALE' 'HWA_FEMALE' 'HBA_MALE'
 'HBA_FEMALE' 'HIA_MALE' 'HIA_FEMALE' 'HAA_MALE' 'HAA_FEMALE' 'HNA_MALE'
 'HNA_FEMALE' 'HTOM_MALE' 'HTOM_FEMALE' 'HWAC_MALE' 'HWAC_FEMALE'
 'HBAC_MALE' 'HBAC_FEMALE' 'HIAC_MALE' 'HIAC_FEMALE' 'HAAC_MALE'
 'HAAC_FEMALE' 'HNAC_MALE' 'HNAC_FEMALE' 'POPESTIMATE' 'POPEST_MALE'
 'POPEST_FEM' 'AGE04_TOT' 'AGE04_MALE' 'AGE04_FEM' 'AGE59_TOT'
 'AGE59_MALE' 'AGE59_FEM' 'AGE1014_TOT' 'AGE1014_MALE' 'AGE1014_FEM'
 'AGE1519_TOT' 'AGE1519_MALE' 'AGE1519_FEM' 'AGE2024_TOT' 'AGE2024_MALE'
 'AGE2024_FEM' 'AGE2529_TOT' 'AGE2529_MALE' 'AGE2529_FEM' 'AGE3034_TOT'
 'AGE3034_MALE' 'AGE3034_FEM' 'AGE3539_TOT' 'AGE3539_MALE' 'AGE3539_FEM'
 'AGE4044_TOT' 'AGE4044_MALE' 'AGE4044_FEM' 'AGE4549_TOT' 'AGE4549_MALE'
 'AGE4549_FEM' 'AGE5054_TOT' 'AGE5054_MALE' 'AGE5054_FEM' 'AGE5559_TOT'
 'AGE5559_MALE' 'AGE5559_FEM' 'AGE6064_TOT' 'AGE6064_MALE' 'AGE6064_FEM'
 'AGE6569_TOT' 'AGE6569_MALE' 'AGE6569_FEM' 'AGE7074_TOT' 'AGE7074_MALE'
 'AGE7074_FEM' 'AGE7579_TOT' 'AGE7579_MALE' 'AGE7579_FEM' 'AGE8084_TOT'
 'AGE8084_MALE' 'AGE8084_FEM' 'AGE85PLUS_TOT' 'AGE85PLUS_MALE'
 'AGE85PLUS_FEM' 'GDP_current_dollar' 'personal_income']

In [4]:
covid_df__top_10 = covid_df.loc[covid_df['PROVINCE_STATE_NAME'].isin(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania', 'Illinois', 'Ohio', 'Georgia', 'North Carolina', 'Michigan'])]
covid_df__top_10

,STATE,PROVINCE_STATE_NAME,Date,Completeness_pct,Administered_Dose1_Recip,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_12Plus,Administered_Dose1_Recip_18Plus,Administered_Dose1_Recip_65Plus,Series_Complete_Yes,...,AGE7579_MALE,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,GDP_current_dollar,personal_income
3320,6,California,2020-01-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,456084,562278,678034,288991,389043,734888,264300,470588,3068809392,3592144
3321,6,California,2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,456084,562278,678034,288991,389043,734888,264300,470588,3068809392,3592144
3322,6,California,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,456084,562278,678034,288991,389043,734888,264300,470588,3068809392,3592144
3323,6,California,2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,456084,562278,678034,288991,389043,734888,264300,470588,3068809392,3592144
3324,6,California,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,456084,562278,678034,288991,389043,734888,264300,470588,3068809392,3592144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35685,48,Texas,2022-04-25,25120.6,20890120.0,20884105.0,19864532.0,18040473.0,3628247.0,17587233.0,...,335908,409708,441317,186051,255266,401630,142044,259586,2402137185,14497143
35686,48,Texas,2022-04-26,25120.6,20897363.0,20891339.0,19869792.0,18044864.0,3628950.0,17591452.0,...,335908,409708,441317,186051,255266,401630,142044,259586,2402137185,14497143
35687,48,Texas,2022-04-27,25120.6,20907738.0,20901703.0,19877395.0,18051163.0,3630034.0,17598026.0,...,335908,409708,441317,186051,255266,401630,142044,259586,2402137185,14497143
35688,48,Texas,2022-04-28,25120.6,20914938.0,20908897.0,19883027.0,18056005.0,3631069.0,17603464.0,...,335908,409708,441317,186051,255266,401630,142044,259586,2402137185,14497143
35689,48,Texas,2022-04-29,25120.6,20923657.0,20917612.0,19889993.0,18061711.0,3632281.0,17610533.0,...,335908,409708,441317,186051,255266,401630,142044,259586,2402137185,14497143

In [6]:
univariate_df = covid_df__top_10.loc[:, ['Date', 'PROVINCE_STATE_NAME', 'PEOPLE_POSITIVE_NEW_CASES_COUNT']]
univariate_df

             Date PROVINCE_STATE_NAME  PEOPLE_POSITIVE_NEW_CASES_COUNT
3320   2020-01-21          California                                0
3321   2020-01-22          California                                0
3322   2020-01-23          California                                0
3323   2020-01-24          California                                0
3324   2020-01-25          California                                1
...           ...                 ...                              ...
35685  2022-04-25               Texas                             1243
35686  2022-04-26               Texas                             2556
35687  2022-04-27               Texas                             2513
35688  2022-04-28               Texas                             2715
35689  2022-04-29               Texas                             2823

[8300 rows x 3 columns]

In [7]:
covid_df__top_10.to_csv('covid_df__top_10.csv', index=False)

In [8]:
univariate_df.to_csv('univariate_df.csv', index=False)